<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />  
    </startup>  
  <appSettings>
    <add key="path" value="/mnt/c/Users/yq/source/repos/GoPractice,Root directory of the GoPractice folder"/>
    <add key="platform" value="Linux,Current platform"/>
    <add key="timeout" value="3000,Timeout for most opreation(ms)"/>
    <add key="gitPath" value="$PATH,the path of git"/>
    <add key="WorkingOn" value="Apr.17.2020.md,Current working file"/>
    
  </appSettings>
</configuration>